body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.nav-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
}
.nav-items:hover {
  color: #2196f3;
}
.nav-items:visited {
  text-decoration: none;
}
.section-two {
  display: inline-block;
}
h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  background-color: #2f303a;
  color: #fff;
}
.header-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
h3 {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
p {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #757575;
}
h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.address-items {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
}
.contact-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.contact-footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-items:hover {
  color: #2196f3;
}
.contact-items:focus {
  color: #2196f3;
}
.contact-footer:hover {
  color: #2196f3;
}
.contact-footer:focus {
  color: #2196f3;
}
.list-style {
  list-style: none;
}
